{% extends "base_administration.html" %}
{% load i18n %}

{% block subtitle %}{% trans "Nodes" %}{% endblock subtitle %}

{% block content_body %}
    <h1 class="center">{% trans "Nodes" %}</h1>

    <p class="indent">
        {% blocktrans %}
        A <b>node</b> is a single physical machine.
        <!-- 
        An <b>hypervisor</b> 
        is a layer of software allowing to virtualize a node in a set of virtual machines with possibly
        different configurations than the node itself.
        -->
        {% endblocktrans %}
    </p>
{% endblock content_body %}

