{% extends "base_administration.html" %}
{% load i18n webPyVirt_extras %}

{% block subtitle %}{% trans "Select Group" %}{% endblock subtitle %}

{% block content_body %}
    <h1 class="center">{% trans "Select Group" %}</h1>

    <p class="indent">
        {% blocktrans %}
        Select a group from list or type name.
        {% endblocktrans %}
    </p>

    <br />

    {% with groups as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <table class="white-stripe w100p">
        <col width="80%" />
        <col width="20%" />
        <tr>
            <th>{% trans "Group name" %}</th>
            <th class="center">{% trans "Members" %}</th>
        </tr>
        {% for group in groups.object_list %}
        <tr>
            <td><a href="{% urlWithVar next groupId=group.id %}">{{ group.name }}</a></td>
            <td class="center">{{ group.user_set.count }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="center">{% trans "There is no groups." %}</td>
        </tr>
        {% endfor %}
    </table>

    {% with groups as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <br />

    <form action="" method="post" id="frmSelectGroup">
        <div class="form">
            {% csrf_token %}

            {% if form.errors %}
            <div class="errornote">
                {% trans "There are errors in the form." %}
            </div>

            <br />
            {% endif %}

            <div class="field{% if form.name.errors %} field-error{% endif %}">
                {{ form.name.errors }}
                <label for="id_name">{% trans form.name.label %}:</label>
                {{ form.name }}
            </div>

            <br />

            <div class="submit right">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="{% trans "Select group" %}" />
            </div>

        </div>

    </form>

{% endblock content_body %}
