{% extends "base_administration.html" %}
{% load i18n webPyVirt_extras %}

{% block subtitle %}{% trans "Manage Users" %}{% endblock subtitle %}

{% block content_body %}
    <h1 class="center">{% trans "Manage Users" %}</h1>

    <p class="indent">
        {% blocktrans %}
        Select a user from list or type name.
        {% endblocktrans %}
    </p>

    <br />

    {% with users as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <table class="white-stripe w100p">
        <tr>
            <th>{% trans "Username" %}</th>
        </tr>
        {% for user in users.object_list %}
        <tr>
            <td><a href="{% urlWithVar next userId=user.id %}">{{ user.username }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {% with users as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <br />

    <form action="" method="post" id="frmSelectUser">
        <div class="form">
            {% csrf_token %}

            {% if form.errors %}
            <div class="errornote">
                {% trans "There are errors in the form." %}
            </div>

            <br />
            {% endif %}

            <div class="field{% if form.username.errors %} field-error{% endif %}">
                {{ form.username.errors }}
                <label for="id_username">{% trans form.username.label %}:</label>
                {{ form.username }}
                <span class="required">*</span>
                <span class="description">
                    {% trans "only letters, digits and underscores" %}
                </span>
            </div>

            <br />

            <div class="submit right">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="{% trans "Select user" %}" />
            </div>

        </div>

    </form>

{% endblock content_body %}
