{% extends "base_administration.html" %}
{% load i18n %}

{% block subtitle %}{% trans "Domain Detail" %}{% endblock subtitle %}

{% block custom_js %}
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jq.tooltips.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jq.check_status.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jq.domain_buttons.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jq.google_visualization.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/domain_detail.js"></script>
{% endblock custom_js %}

{% block content_body %}
    <h1 class="center">{% trans "Domain Detail" %} :: {{ managedDomain.name }}</h1>

    <p class="indent">
        {% blocktrans %}
        {% endblocktrans %}
    </p>

    <br />

    <div id="domainDetail">

        <div id="screenshot">
            <h3 class="center">{% trans "Screenshot" %}</h3>
            <div id="screenshot-image">
                <div class="buttons">
                    <a href="#" class="button button-shutdown tooltipBlock">
                        <span class="tooltipText">{% trans "Shutdown" %}</span>
                    </a>
                    <a href="#" class="button button-suspend tooltipBlock">
                        <span class="tooltipText">{% trans "Suspend" %}</span>
                    </a>
                    <a href="#" class="button button-reboot tooltipBlock">
                        <span class="tooltipText">{% trans "Reboot" %}</span>
                    </a>
                    <a href="#" class="button button-pause tooltipBlock">
                        <span class="tooltipText">{% trans "Pause" %}</span>
                    </a>
                    <a href="#" class="button button-run tooltipBlock">
                        <span class="tooltipText">{% trans "Run or resume" %}</span>
                    </a>
                    <input type="hidden" id="secret" name="secret" value="{{ secret }}" />
                </div>
            </div>
        </div>

        <div>
            <h3 class="center">{% trans "Domain Information" %}</h3>

            <table>
                <tr>
                    <td class="bold">{% trans "ID" %}:</td>
                    <td>{{ managedDomain.id }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "Name" %}:</td>
                    <td>{{ managedDomain.name }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "UUID" %}:</td>
                    <td class="small">{{ managedDomain.uuid }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "Type" %}:</td>
                    <td>{{ managedDomain.hypervisor_type }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "Description" %}:</td>
                    <td>{{ managedDomain.description|default:_("N/A") }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "Memory" %}:</td>
                    <td>{{ managedDomain.getMemory }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "vCPU" %}:</td>
                    <td>{{ managedDomain.vcpu }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "Status" %}:</td>
                    <td>
                        <input type="hidden" class="domain-status" name="domain-status" value="{{ managedDomain.id }}" />
                        <img class="loader" src="{{ MEDIA_URL }}img/icons/load-roller-2.gif" alt="" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="clear">
            <h3 class="center">{% trans "Additional Information" %}</h3>

            <table>
                <tr>
                    <td class="bold">{% trans "On poweroff" %}:</td>
                    <td>{{ managedDomain.poweroff|default:"-" }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "On reboot" %}:</td>
                    <td>{{ managedDomain.reboot|default:"-" }}</td>
                </tr>
                <tr>
                    <td class="bold">{% trans "On crash" %}:</td>
                    <td>{{ managedDomain.crash|default:"-" }}</td>
                </tr>
            </table>
        </div>

        <br />

        <div>
            <h3 class="center">{% trans "Statistics" %}</h3>

            <div>
                <input id="domainId" type="hidden" name="domainId" value="{{ managedDomain.id }}">

                <h4>{% trans "CPU Usage" %}:</h4>

                <div class="gauge" id="gauge_cpu"></div>
                <div class="area-chart" id="area_chart_cpu"></div>

                <br />

                <h4>{% trans "Memory Usage" %}:</h4>

                <div class="gauge" id="gauge_memory"></div>
                <div class="area-chart" id="area_chart_memory"></div>

            </div>
        </div>
    </div>

{% endblock content_body %}
