{% extends "base_administration.html" %}
{% load i18n webPyVirt_extras %}

{% block subtitle %}{% trans "Select Domain" %}{% endblock subtitle %}

{% block custom_js %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jq.check_status.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/check_status.js"></script>
{% endblock custom_js %}

{% block content_body %}
    <h1 class="center">{% trans "Select Domain" %}</h1>

    <p class="indent">
        {% blocktrans %}
        Select a domain from list or type name.
        {% endblocktrans %}
    </p>

    <br />

    {% with domains as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <table class="white-stripe w100p">
        <col width="40%" />
        <col width="20%" />
        <col width="40%" />
        <tr>
            <th>{% trans "Domain Name" %}</th>
            <th class="center">{% trans "Node Name" %}</th>
            <th class="center">{% trans "Status" %}</th>
        </tr>
        {% for domain in domains.object_list %}
        <tr>
            <td><a href="{% urlWithVar next domainId=domain.id, *next_args **next_kwargs %}">{{ domain.name }}</a></td>
            <td class="center">{{ domain.node.name }}</td>
            <td class="center smaller">
                <input type="hidden" class="domain-status" name="domain-status" value="{{ domain.id }}" />
                <img class="loader" src="{{ MEDIA_URL }}img/icons/load-roller-2.gif" alt="" />
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="center">{% trans "There is no domains." %}</td>
        </tr>
        {% endfor %}
    </table>

    {% with domains as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <br />

    <form action="" method="post" id="frmSelectDomain">
        <div class="form">
            {% csrf_token %}

            {% if form.errors %}
            <div class="errornote">
                {% trans "There are errors in the form." %}
            </div>

            <br />
            {% endif %}

            <div class="field{% if form.name.errors %} field-error{% endif %}">
                {{ form.name.errors }}
                <label for="id_name">{{ form.name.label }}:</label>
                {{ form.name }}
                {{ form.id }}
                <input type="hidden" id="autocomplete_permission" name="permission" value="{{ permission }}" />
            </div>

            <br />

            <div class="submit right">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="{% trans "Select domain" %}" />
            </div>

        </div>

    </form>

{% endblock content_body %}
