body                            { background: #5F5F5F url("../img/bg.png") repeat-x 0 0; }

.errornote                      { display: block; padding: 4px 25px 4px 35px; border: 1px solid #ff0000; 
                                  color: #ff0000; margin: 0 0 3px; 0; 
                                  background: #ffc url("../img/icons/error_small.png") 5px 5px no-repeat; }

.placeholder                    { display: block; }

.w200                           { width: 200px; }

.h80                            { height: 80px; }
