body                            { background: #a8a8a7 url("../img/bg.png") repeat-x 0 0; font-size: 1em; }

h1                              { font-size: 2em; font-weight: bold; }
h2                              { font-size: 1.5em; font-weight: bold; }
h3                              { font-size: 1.2em; font-weight: bold; }

pre                             { margin: 8px 0; font-family: Monaco, "Courier New", Courier, monospace;
                                  font-size: 0.85em; }

table td                        { padding-right: 5px; }

.errornote                      { display: block; padding: 4px 25px 4px 35px; border: 1px solid #ff0000; 
                                  color: #ff0000; margin: 0 0 3px; 0; 
                                  background: #ffc url("../img/icons/error_small.png") 5px 5px no-repeat; }
.errorlist                      { color: #ff0000; font-size: 0.7em; margin-left: 20px; }
.errorlist li                   { list-style: none; }
span.description                { font-style: italic; font-size: 0.6em; cursor: help; 
                                  border-bottom: 1px dotted #000;
                                  color: #888; }
div.description                 { font-style: italic; font-size: 0.6em; cursor: help; 
                                  margin: 5px 20px 15px 20px; color: #888; }
td.description                  { font-style: italic; font-size: 0.7em; cursor: help; }
.required                       { color: #ff0000; }
.error                          { color: #ff0000; }
.field-error label              { color: #ff0000; }
.field-error input              { background-color: #ffaaaa; border-color: #ff0000; }

.placeholder                    { display: block; }

.w200                           { width: 200px; }
.w500                           { width: 500px; }
.w20p                           { width: 20%; }
.w25p                           { width: 25%; }
.w100p                          { width: 100%; }

.h80                            { height: 80px; }

.indent                         { text-indent: 25px; }
.small                          { font-size: 0.7em; }
.smaller                        { font-size: 0.85em; }
.bold                           { font-weight: bold; }

.hide                           { display: none; }

.accordion .field               { margin-bottom: 5px; }

/* allings */
.center                         { margin: 0 auto; text-align: center; }
.vcenter                        { vertical-align: middle; }
.right                          { text-align: right; }
.left                           { text-align: left; }

/* tables */
table th, td                    { vertical-align: middle; }
table.stripe, 
 table.white-stripe             { border: 1px solid #777; }
table.stripe th                 { color: #111; background-color: #ccc; }
table.stripe tr:nth-child(even) { background-color: #444; }
table.stripe tr:nth-child(odd)  { background-color: #111; }
table.white-stripe th           { color: #eee; background-color: #222; }
table.white-stripe 
 tr:nth-child(even)             { background-color: #bbb; }
table.white-stripe 
 tr:nth-child(odd)              { background-color: #eee; }
th, td                          { padding-left: 10px; }
th.last, td.last                { padding-right: 10px; }

/* DEBUG */
#debug                          { position: absolute; right: 0; top: 0; width: 20px; max-height: 700px;
                                  text-align: left; color: #a0a0a0; background-color: #3a3a3a;
                                  border-left: 1px solid #202020; border-bottom: 1px solid #202020;
                                  font: 8pt courier; padding: 3px; opacity: .2; z-index: 0;
                                  overflow: auto; }
#debug:hover                    { z-index: 1000; opacity: .75; width: auto; max-width: 400px; 
                                  color: #fff; background-color: #000; }
#debug div.sql-query            { margin-bottom: 10px; }
/* DEBUG */

.clear                          { float: none; clear: both; }

/* TOOLTIPS */
.tooltipCanvas                  { overflow: hidden; z-index: 100; color: #fff; }
.tooltipCanvas td,
 .tooltipCanvas th              { background: url("../img/tooltip.png") 0 0 repeat; overflow: hidden;
                                  background-color: transparent; }
.tooltipCanvas td               { padding: 5px 5px 0 10px; white-space: nowrap; }
.tooltipCanvas th               { line-height: 4px; font-size: 0.9em; }
.tooltipCanvas td.last,
 .tooltipCanvas th.last         { padding: 0 !important; }
.tooltipText                    { display: none; }
/* TOOLTIPS */
