{% extends "base_administration.html" %}
{% load i18n webPyVirt_extras %}

{% block subtitle %}{% trans "Select Node" %}{% endblock subtitle %}

{% block content_body %}
    <h1 class="center">{% trans "Select Node" %}</h1>

    <p class="indent">
        {% blocktrans %}
        Select a node from list or type name.
        {% endblocktrans %}
    </p>

    <br />

    {% with nodes as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <table class="white-stripe w100p">
        <col width="90%" />
        <col width="10%" />
        <tr>
            <th>{% trans "Node Name" %}</th>
            <th class="center">{% trans "Domains" %}</th>
        </tr>
        {% for node in nodes.object_list %}
        <tr>
            <td><a href="{% urlWithVar next nodeId=node.id, *next_args **next_kwargs %}">{{ node.name }}</a></td>
            <td class="center">0</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="center">{% trans "There is no nodes." %}</td>
        </tr>
        {% endfor %}
    </table>

    {% with nodes as pagination %}
        {% include "includes/pagination.html" %}
    {% endwith %}

    <br />

    <form action="" method="post" id="frmSelectNode">
        <div class="form">
            {% csrf_token %}

            {% if form.errors %}
            <div class="errornote">
                {% trans "There are errors in the form." %}
            </div>

            <br />
            {% endif %}

            <div class="field{% if form.username.errors %} field-error{% endif %}">
                {{ form.name.errors }}
                <label for="id_name">{{ form.name.label }}:</label>
                {{ form.name }}
                <input type="hidden" id="autocomplete_permission" name="permission" value="{{ permission }}" />
            </div>

            <br />

            <div class="submit right">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="{% trans "Select node" %}" />
            </div>

        </div>

    </form>

{% endblock content_body %}
