{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Forbidden" %}{% endblock title %}

{% block custom_css %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/error.css" />
{% endblock custom_css %}

{% block body %}

    <div id="page">
        <div class="container">

            <div id="header">
                <h1>{% trans "Forbidden" %}</h1>
            </div>

            <div id="content">
                {% trans "You don't have permissions for this." %}
                <br />
                <br />
                <a href="/">{% trans "Home" %}</a>
            </div>
        </div>
    </div>

{% endblock body %}
