<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN'
  'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" dir="ltr">
    <head>
        <title>500 | webPyVirt</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="author" content="Martin Jantošovič" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="index, follow" />

    </head>
    <body>
        <div id="page">
            <div style="font-size: 3em;">
                500: Internal server error
            </div>
            <div>
                {% trans "We apologize. Our administrators were e-mailed." %}
            </div>
        </div>
    </body>
</html>

