{% extends "base.html" %}
{% load i18n %}

{% block title %}{% block subtitle %}{% endblock subtitle %} | {% trans "Administration" %}{% endblock title %}

{% block custom_js %}
{% endblock custom_js %}

{% block custom_css %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/administration.css" />
{% endblock custom_css %}

{% block body_class %}{% endblock body_class %}

{% block body %}

    <div id="page">
        <div id="left-menu">
            {% include "includes/left_menu.html" %}
        </div>

        <div id="content">
            <div id="content-header">
                {% include "includes/content_header.html" %}
            </div>

            <div id="content-body">
                {% block content_body %}
                {% endblock content_body %}
            </div>
        </div>
    </div>

{% endblock body %}
