{% extends "base.html" %}
{% load i18n %}

{% block title %}{% block subtitle %}{% endblock subtitle %} | {% trans "Administration" %}{% endblock title %}

{% block body %}

    <div id="page">
        <div id="left-menu">
            {% block left_menu %}
            {% endblock left_menu %}
        </div>

        <div id="content">
            <div id="content-header">
                {% block content_header %}
                {% endblock content_header %}
            </div>

            <div id="content-body">
                {% block content_body %}
                {% endblock content_body %}
            </div>
        </div>
    </div>

{% endblock body %}
